body {
  font-family: arial, verdana, sans-serif;;
  font-size: 24px;
  border: 2px solid;
  padding: 24px 0px 0px 200px;
}

form {
  border: 2px solid;
  position: relative;
  top: -12px;
  left: -90px;
  padding: 10px 0px 0px 420px
}